@charset "UTF-8";

.statisticsContainer {
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: white;
	padding-top : 40px;
}

.graphCont {
	margin : 25px auto;
	width : 70%;
	border : 1px solid #eee;
	border-radius : 10px;
	box-shadow: 0 5px 5px #f1f3f6;
	padding-bottom : 40px;
}
.graphDiv {
	
}
#chart {
	padding: 100px 10px 0 10px;
}

h3 {
	font-family: 'Nanum Square';
	color: #2DB400;
}